.CartCoupon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 0.5px solid var(--color-silver);

    @include desktop {
        margin: 7px 18px 0;
    }

    &-Input {
        margin: 0;
        height: 98%;
        width: 100%;
        font-size: 13px;
        text-transform: none;
        border: none;
        color: var(--color-tundora);

        @include mobile {
            font-size: 13px;
        }

        &:focus {
            border: none;
        }

        input {
            width: 100%;
        }
    }

    &-Message {
        padding-left: 16px;
        line-height: 18px;
        flex: 4 1;
        color: var(--color-tundora);

        strong {
            display: inline-block;
            width: 100%;
            font-weight: var(--fw-demi);
        }
    }

    &-Button {
        flex: 1 1;
        margin: 0 0 0 auto;
        padding: 0 16px;
        background: transparent;
        border: none;
        color: var(--color-turquoise);
        transition-property: color;
        font-weight: 400;
        font-size: 13px;
        color: black!important;
        line-height: 16px;

        &:hover {
            color: var(--color-turquoise);
            background: transparent;
            border: none;
        }

        &:disabled {
            color:  var(--color-nobel);
            opacity: 1;
        }

        &:not([disabled]):hover,
        &:not([disabled]):focus {
            color: var(--color-turquoise);
            background: transparent;
            border: none;
        }
    }

    &_active {
        button {
            color: var(--color-cardinal);

            &:hover {
                color: var(--color-cardinal);
            }

            &:not([disabled]):hover,
            &:not([disabled]):focus {
                color: var(--color-cardinal);
            }
        }
    }

    &_isArabic {
        button {
            margin: 0 auto 0 0;
        }

        p {
            padding-left: 0;
            padding-right: 16px;
        }
    }
}
