:root {
  --ca-button-border-color: #e4e4e4;
  --ca-reward-point-color: #4a4a4a;
  --ca-redemption-border-color: rgba(255, 255, 255, 0.1);
  --ca-card-color: rgba(0, 0, 0, 0.7);
  --ca-card-heading-color: #ccba8a;
  --ca-reward-light-gray: #d6d6d6;
}

.MyAccountClubApparel {
  .MemberDataLogo {
    .LazyLoad-wrapper {
      img {
        width: 200px !important;
        display: inline-block;
        max-width: 100%;
        margin: 60px 0 40px;
      }
    }
  }

  &-Cards {
    display: flex;
    margin: 0 10%;

    @include before-desktop {
      margin: 0;
      order: 1;
    }
  }

  @include before-desktop {
    margin-bottom: 90px;
  }

  &-Wrapper {
    @include before-desktop {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      overflow: auto;
      background-image: url(./images/club_apparel_background@3x.png);
      background-color: #231f20;
      background-size: cover;
    }
  }

  &-Card {
    width: 31%;
    margin: 0 auto;
    padding: 3%;
    border-radius: 8px;
    text-align: center;
    background-color: var(--ca-card-color);

    img {
      height: 45px !important;
      width: auto !important;
    }

    h3 {
      color: var(--ca-card-heading-color);
      font-size: 12px;
      font-weight: var(--fw-demi);
    }

    p {
      color: #ffffff;
      font-size: 12px;
    }

    strong {
      font-weight: var(--fw-demi);
    }

    &_countrySpecific {
      // position: absolute;
      // bottom: 8%;
      // left: 7%;
      padding: 0;
      width: fit-content;
      opacity: 0.8;
      font-size: 11px;
    }

    @include before-desktop {
      p {
        display: none;
      }

      h3 {
        margin: 1rem 0;
      }

      .MyAccountClubApparel {
        &-RedemptionParagraph {
          display: block;
        }
      }

      .MyAccountClubApparel {
        &-Card {
          &_countrySpecific {
            display: block;
          }
        }
      }
    }
  }

  &-About,
  &-Earn {
    height: 0;
    padding: 0;
    transition: 100ms;
    p {
      font-size: 0;
      margin: 0;
    }

    &_isAboutExpanded,
    &_isEarnExpanded {
      height: auto;
      font-size: unset;
      color: unset;
      padding-bottom: 30px;
      border-bottom: 1px solid var(--ca-button-border-color);
      transition: 500ms;

      p {
        font-size: unset;
        margin-bottom: 1.2rem;
      }
    }

    @include before-desktop {
      display: none;
      color: #ffffff;

      a {
        color: #ffffff;
      }

      &_isAboutExpanded,
      &_isEarnExpanded {
        display: block;
        border-bottom: none;
      }
    }

    &Mobile {
      &Text {
        text-align: left;

        h3 {
          color: #ffffff;
        }

        padding: 0 10%;
      }

      margin-bottom: 85px;
    }
  }

  &-MobileWrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-image: url(./images/club_apparel_background@3x.png);
    background-color: #231f20;
    background-size: cover;
    z-index: 2;
    overflow: auto;
    text-align: center;
  }

  &-Buttons {
    margin-block: 10px;
    button {
      height: 60px;
      display: block;
      width: 100%;
      text-align: left;
      text-transform: none;
      font-size: 16px;
      font-weight: var(--fw-demi);
      padding: 0;
      border-bottom: 1px solid var(--ca-button-border-color);

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px 5px 5px 2px;
        margin: 0 auto;
        transform: rotate(45deg);
        right: 0;
        top: 25px;
        background: transparent;
      }

      @include before-desktop {
        color: #ffffff;

        &:after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          border: solid #ffffff;
          border-width: 0 2px 2px 0;
          display: inline-block;
          padding: 2px 5px 5px 2px;
          margin: 0 auto;
          transform: rotate(-45deg);
          right: 5px;
          top: 25px;
          background: transparent;
        }
      }
    }

    &_isArabic {
      button {
        text-align: right;

        &:after {
          right: unset;
          left: 0;
        }

        @include before-desktop {
          color: #ffffff;

          &:after {
            transform: rotate(135deg);
            right: unset;
            left: 5px;
          }
        }
      }
    }

    a {
      font-weight: var(--fw-demi);
    }

    .MyAccountClubApparel {
      &-AboutButton,
      &-EarnButton {
        &_isAboutExpanded,
        &_isEarnExpanded {
          border-bottom: none;
          &::after {
            transform: rotate(-135deg);
          }

          @include before-desktop {
            &::after {
              position: fixed;
              transform: rotate(135deg);
              padding: 2px 7px 7px 2px;
              z-index: 3;
              left: calc(-100% + 55px);
            }
          }
        }

        &_isArabicAbout,
        &_isArabicEarn {
          @include before-desktop {
            &::after {
              position: fixed;
              transform: rotate(-45deg);
              padding: 2px 7px 7px 2px;
              z-index: 3;
              right: 20px;
              left: unset;
            }
          }
        }

        display: block;
      }
    }
  }

  &-ClubApparelContainer {
    background-color: #231f20;
    background-image: url(./images/bg-ca.png);
    background-size: cover;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 15px;

    @include before-desktop {
      background-color: unset;
      background-image: unset;
      padding-bottom: 100px;
    }
  }

  &-MemberData {
    text-align: center;

    &Logo {
      width: 200px;
      display: inline-block;
      max-width: 100%;
      margin: 60px 0 40px;

      &_isMobileLogo {
        margin: 0 0 40px;
      }
    }

    @include before-desktop {
      display: flex;
      flex-direction: column;
    }
  }

  &-Reward {
    padding: 10px 30px 10px 30px;
    background-image: url(./images/club_apparel_tier_background@2x.png);
    background-size: cover;
    display: flex;
    margin: 0 auto 20px;
    border-radius: 50px;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    text-align: left;
    width: 300px;
    height: 75px;

    @include before-desktop {
      margin: 0 auto 20px;
      width: 300px;
    }
  }

  &-Points {
    p {
      color: var(--ca-reward-point-color);
      font-size: 12px;
      font-weight: var(--fw-medium);
      line-height: 16px;
      text-transform: uppercase;
    }

    &Currency {
      font-size: 14px;
    }

    &CAP {
      font-size: 21px;
      font-weight: var(--fw-demi);
      line-height: 19px;
      margin-right: 5px;
    }

    &_isArabic {
      text-align: right;
    }
  }

  &-Tier {
    height: 55px;
    margin-left: 20px;
    border-left: 1px solid var(--ca-reward-light-gray);
    padding-left: 20px;

    .Image {
      .LazyLoad-wrapper {
        img {
          height: 80px !important;
          width: auto !important;
        }
      }
    }

    &_isArabic {
      margin-left: unset;
      border-left: unset;
      padding-left: unset;
      margin-right: 20px;
      border-right: 1px solid var(--ca-reward-light-gray);
      padding-right: 20px;
    }
  }

  &-Redemption {
    text-align: center;
    margin: 0 auto;
    height: 76px;
    width: 336px;
    padding-bottom: 38px;
    border-bottom: 2px solid var(--ca-redemption-border-color);
    opacity: 0.7;
    color: #ffffff;

    span {
      font-weight: var(--fw-demi);
    }
  }

  &-Number {
    font-size: 14px;
    padding-top: 37px;
    color: #ffffff;

    span {
      font-weight: var(--fw-demi);
    }

    @include before-desktop {
      padding-top: 10px;
      order: 3;
      margin: 0 15%;

      &_isLinkedMember {
        order: 1;
        padding-top: 35px;
      }
    }
  }

  &-ChangeButton {
    height: 40px;
    margin: 20px auto 0;
    background-color: #ffffff;
    font-size: 12px;
    border-radius: 5px;

    &:hover {
      background-color: var(--light-gray);
    }

    @include before-desktop {
      order: 2;
      margin: 50px auto 0;

      &_isLinkedMember {
        margin: 15px auto 0;
      }
    }
  }
}
