:root {
  --my-acc-border: #efefef;
  --my-acc-input-border: #a5a5a5;
  --my-acc-discart-btn: #f96446;
}

.MyAccountAddressFieldForm {
  top: -90px;
  background: $white;
  z-index: 8;

  @include desktop() {
    max-width: 100%;
    top: 0;
    background: none;
    z-index: 1;
  }

  input {
    width: 100%;
    font-size: 14px;
    text-transform: none;

    &[type="checkbox"],
    &[type="radio"] {
      width: 0;
    }

    + label {
      min-width: auto;
    }

    &::placeholder {
      text-transform: uppercase;
    }
  }

  select {
    font-size: 14px;
    &:focus {
      border: 1px solid var(--my-acc-input-border);
    }
  }

  .FieldSelect {
    &-Options {
      overflow-y: auto;
    }

    &-Select {
      &_isExpanded {
        border: 1px solid var(--my-acc-input-border);
      }
    }
  }

  .MyAccountBtn {
    width: 100%;
    margin-top: 25px;
    &_isLoading {
      opacity: 0.3 !important;
    }
    @include desktop() {
      width: 200px;
    }
  }

  &-Fields {
    margin-bottom: 1rem;

    input:focus {
      border: 1px solid var(--my-acc-input-border);
    }
  }

  &-Header {
    display: flex;
    justify-content: center;

    @include desktop() {
      display: block;
    }
  }

  &-Title {
    text-transform: none;
    font-size: 18px;
    font-weight: var(--fw-demi);
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 0;

    @include desktop() {
      display: block;
      border-top: 1px solid var(--my-acc-border);
      margin-top: 0;
      padding-top: 29px;
    }
  }

  &-PhoneCode {
    position: absolute;
    display: flex;
    align-items: center;
    top: 11px;
    left: 10px;
    font-size: 14px;
  }

  &-FieldWrapper {
    &_hidden {
      height: 0;
      padding: 0;
      overflow: hidden;
      margin: 0;
    }

    &_twoFields {
      display: flex;
      justify-content: space-between;

      .Field {
        width: 48%;
      }
    }

    &_phone {
      position: relative;

      input {
        padding-left: 100px;
      }
    }

    &_street {

    }

    &_toggle {
      display: flex;
      align-items: center;
      margin-top: 20px;

      div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 0;
      }

      label {
        font-size: 14px;
        font-weight: var(--fw-regular);
        padding-bottom: 0;
        padding-left: 15px;
        cursor: pointer;
      }
    }
  
  }

  .MyAccountBtn {
    &-Discart {
      display: none;

      @include desktop() {
        display: inline-block;
        color: var(--my-acc-discart-btn);
        text-transform: none;
        padding: 0;
        margin-left: 50px;
        font-size: 15px;
        font-weight: var(--fw-regular);
      }
    }
  }
}

.PageWrapper {
  &_isArabic {
    .MyAccountAddressFieldForm {
      &-PhoneCode {
        right: 10px;
        left: unset;
      }

      &-FieldWrapper {
        &_phone {
          input {
            padding-left: 0;
            padding-right: 100px;
          }
        }

        &_toggle {
          label {
            padding-left: 0;
            padding-right: 15px;
          }
        }

        &_street {
          &:after {
            display: none;
          }
       
        }
      }

      .MyAccountBtn {
        &-Discart {
          @include desktop() {
            margin-left: 0;
            margin-right: 50px;
          }
        }
      }
    }
  }
}

.overflow-hidden {
  overflow: hidden !important;
}