.PDPDetail {
  display: flex;
  align-items: center;
  padding: 0;
  @include mobile {
    padding: 32px 0;
  }
  &-BrandImage {
    flex: 1;
    padding: 1rem 1rem 1rem 0;
  }
  .Image {
    .LazyLoad-wrapper {
      img {
        max-height: 300px !important;
        width: auto !important;
      }
    }
  }

  &-BrandDescription {
    flex: 1;
    padding: 1rem 0 1rem 1rem;
  }
}

.BrandDescription {
  &-MoreButton {
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 7px 14px;
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    &:hover {
      text-decoration: none;
    }
  }
}
