.CountrySwitcher {
  align-items: center;
  display: flex;
  font-size: 11px;
  
  &-CountryBtn {
    display: flex;
    margin-top: 0;
    font-weight: var(--fw-regular);
    font-size: 12px;
    height: auto;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-left: -20px;
    margin-right: 0px;
    align-items: center;
    .CountryMiniFlag {
      &-Container {
        margin-right: 2px;
      }
    }

    span {
      margin-right: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      background: url(../Icons/ChevronDown/icon.svg) no-repeat;
      background-size: 12px;
      right: 0px;
      top: 6px;
    }
    &_isOpen{
      &::after {
        background: url(../Icons/ChevronUp/icon.svg) no-repeat;
        background-size: 12px;
      }
    }
  }

  .Field {
    margin-top: 0;
    display: none;
  }
}

.PageWrapper {
  &_isArabic {
    .CountrySwitcher {
      &-CountryBtn {
        margin-left: 0px;
        margin-right: -20px;

        &::after {
          display: none;
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          box-sizing: border-box;
          width: 12px;
          height: 12px;
          background: url(../Icons/ChevronDown/icon.svg) no-repeat;
          background-size: 12px;
          left: 0;
          top: 6px;
        }
        &_isOpen{
          &::before {
            background: url(../Icons/ChevronUp/icon.svg) no-repeat;
            background-size: 12px;
          }
        }
      }
    }
  }
}
