.MyAccountReturnCreateListItem {
    border-top: 2px solid var(--divider-color);
    height: auto;
    padding: 15px 30px 15px 0;
    width: 100%;

    .PageWrapper_isArabic &  {
        padding: 15px 0 15px 30px;
    }

    &::after {
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
        content: '';
        height: 5px;
        position: absolute;
        right: 15px;
        top: 25px;
        transform: rotate(-45deg) scale(1.5);
        width: 5px;

        @include desktop {
            top: 50%;
            transform: translateY(-50%) rotate(-45deg) scale(1.5);
        }

        .PageWrapper_isArabic &  {
            left: 15px;
            right: unset;
            transform: rotate(135deg) scale(1.5);

            @include desktop {
                transform: translateY(-50%) rotate(135deg) scale(1.5);
            }
        }
    }

    &-Heading {
        font-size: 16px;
        text-align: left;
        text-transform: none;

        .PageWrapper_isArabic & {
            text-align: right;
        }

        span {
            color: var(--color-gray);
            font-weight: var(--fw-regular);
            font-size: 13px;
            text-transform: capitalize;
        }
    }

    &-Content {
        display: flex;
    }

    &-Image {
        margin-right: 15px;
        max-width: 50px;
        padding-bottom: 60px;

        @include desktop {
            max-width: 80px;
            padding-bottom: 105px;
        }

        .PageWrapper_isArabic &  {
            margin-left: 15px;
            margin-right: 0;
        }
    }

    &-Details {
        &Price,
        &Qty,
        &Date {
            color: var(--color-gray);
            font-weight: var(--fw-regular);
            text-align: left;
            text-transform: none;

            .PageWrapper_isArabic &  {
                text-align: right;
            }

            span {
                color: #000000;
            }
        }

        &Price {
            color: #000000;

            span {
                font-weight: var(--fw-bold);
            }
        }

        &Prop {
            display: inline-block;
            line-height: 1;

            &:first-of-type {
                &:not(:last-of-type) {
                    border-right: 1px solid var(--color-gray);
                    padding-right: 10px;

                    .PageWrapper_isArabic & {
                        border-left: 1px solid var(--color-gray);
                        border-right: 0;
                        padding-left: 10px;
                        padding-right: 0;
                    }
                }
            }

            &:last-of-type {
                &:not(:first-of-type) {
                    padding-left: 10px;

                    .PageWrapper_isArabic & {
                        padding-left: 0;
                        padding-right: 10px;
                    }
                }
            }
        }
    }

    &-SubDetails {
        text-align: left;

        .PageWrapper_isArabic &  {
            text-align: right;
        }
    }

    p {
        margin: 0;
    }
}
