:root {
  --footer-background-color: #f6f6f6;
}

.FooterMiddle {
  padding: 18px 0;
  margin-top: 3px;
  background: var(--footer-background-color);

  @include before-desktop {
    display: none;
  }

  &_isCheckout {
    height: 70px;
    padding: 20px 30px 30px 30px;
    background: #ffffff;

    .HeaderAccount,
    .CountrySwitcher,
    .LanguageSwitcher {
      display: none;
    }
  }

  &-Layout {
    display: flex;
    justify-content: space-between;

    margin: auto;
    width: var(--main-container-width-dsk);
    max-width: var(--container-max-width);
    &_isCheckout {
      max-width: 1150px;
    }
  }

  &-CustomerSupport {
    width: 33%;

    .InlineCustomerSupport {
      &-Dropdown {
        top: auto;
        bottom: 100%;
      }

      &-DisplayQuickAccess {
        display: none;
      }

      &-Button {
        // padding: ;
      }
    }
  }

  &-FooterAccount {
    // padding-left: 40px;
    font-size: 14px;
    font-weight: var(--fw-demi);
    letter-spacing: 0;
    line-height: 19px;

    .HeaderAccount {
      z-index: 1;
      padding-top: 5px;
      margin: 0;
      label {
        display: flex;
        span {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &-StoreSwitcher {
    width: 33%;
    display: flex;

    .CountrySwitcher {
      &-CountryBtn {
        &::after {
          // transform: none;
        }
      }
      .StoreSwitcherPopup{
        &-Container{
          @include desktop{
            bottom: 20px;
            top: unset;
          }
        }
      }
    }

    .CountryMiniFlag {
      &-Container {
        span {
          border-left: 7px solid var(--footer-background-color);
          border-right: 7px solid var(--footer-background-color);
        }
      }
    }
  }
}

.PageWrapper {
  &_isArabic {
    .FooterMiddle {
      &-StoreSwitcher {
        .CountrySwitcher {
          &-CountryBtn {
            &::before {
              transform: none;
            }
          }
        }
      }
    }
  }
}
