:root {
    --error-color: #d12229;
}

.NotificationList {
    @include mobile {
        overflow: hidden;
        max-width: 100vw;
        width: 100%;
        position: fixed;
        top: var(--header-total-height);
        right: 0;
    }
    
    .Notification {
        &_type {
            &_error {
                --notification-background: var(--error-color);
            }
        }
    }
}