:root {
  --unselected-step-color: #dbdddd;
  --selected-step-color: #f96446;
}
.MyAccount {
  &-TabContent {
    .ShippingStep {
      @include mobile{
        top: -40px;
      }
      &_formContent{
        @include mobile{
          top: 130px;
        }
      }

      &_isSignedIn {
        @include before-desktop {
          display: grid;
        }

        .PickUpAddress {
          .CheckoutAddressBook {
            @include desktop {
              margin-top: 0;
            }

            .Checkout {
              &-Heading {
                display: none;
              }
            }
          }
        }

        .MyAccountAddressBook {
          &-ContentWrapper {
            &_formContent {
              .MyAccountAddressPopup {
                position: relative;
                padding-bottom: 20px;
              }
            }
            .MyAccountAddressBook {
              &-backButton {
                @include desktop {
                  display: none;
                }
              }
            }
          }

          &-ContentWrapper {
            @include before-desktop {
              top: -90px;
            }

            &_formContent {
              .MyAccountAddressBook {
                &-backButton {
                  position: fixed;
                  width: 20px;
                  height: 30px;
                  top: 27px;
                  right: unset;
                  left: 10px;
                  z-index: 9;

                  &::before {
                    content: "";
                    position: absolute;
                    left: 5px;
                    border: solid $black;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 4px;
                    transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                  }

                  @include desktop() {
                    height: 0;
                  }

                  &_isArabic {
                    top: 35px;
                    left: unset;
                    right: 10px;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                  }
                }
              }
            }
          }

          &-NewAddressWrapper {
            top: 10px;
            float: right;
            z-index: 1;

            @include before-desktop {
              top: -60px;
              display: flex;
              justify-content: center;
              align-items: center;
              grid-row: 4;
            }

            &_formContent {
              display: none;
            }

            &_isArabic {
              float: left;
            }
            &_isCountryNotAddressAvailable{
              display: none;
            }
          }

          &-NewAddress {
            font-weight: var(--fw-regular);
            font-size: 13px;
            line-height: 18px;
            background: transparent;
            color: #000000;
            border: none;
            margin: 0 5px;
            // padding-inline: 20px;

            &:hover {
              text-decoration: underline;
            }

            @include before-desktop {
              border-radius: 7px;
              background: var(--my-acc-background);
              text-transform: capitalize;
              min-width: 140px;
              margin-top: 28px;

              &:hover {
                text-decoration: underline;
                background: var(--my-acc-background);
              }
            }
          }
        }

        .MyAccountAddressPopup {
          margin: 0 auto 20px auto;
          background: #ffffff;
          height: 100% !important;
          position: absolute;
          width: 100%;
          .Form {
            @include desktop {
              top: 0;
              padding: 20px 30px 30px 30px;
              background: #ffffff;
            }

            .MyAccountAddressFieldForm {
              &-Header {
                h2 {
                  border-top: none;
                  margin-left: 0;
                  margin-bottom: 20px;
                  margin-top: 1.8rem;
                }
              }
              @include desktop {
                max-width: unset !important;
              }
            }
          }

          &_isArabic {
            .Form {
              @include desktop {
                padding: 20px 30px 30px 30px;
                background: #ffffff;
              }

              .MyAccountAddressFieldForm {
                &-Header {
                  h2 {
                    border-top: none;
                    margin-left: 0;
                  }
                }
                @include desktop {
                  max-width: unset !important;
                }
              }
            }
          }
          @include desktop {
            width: 100%;
          }
        }

        .Form .PickUpAddress {
          grid-row: 3;
        }
      }

      &_formContent {
        .PickUpAddress {
          display: none;
        }
      }
      .PickUpAddress{
        @include before-desktop {
          .Checkout-StickyButtonWrapper {
              padding-top: 0.5rem;
              padding: 5px 30px calc(env(safe-area-inset-bottom) + 1rem);
          }
      }
      @include mobile {
          padding-bottom: 120px;
          .Checkout-StickyButtonWrapper {
              padding: 2px 10px calc(env(safe-area-inset-bottom) + 1rem);
          }
      }
        .Checkout{
          &-StickyButtonWrapper {
            .Checkout {
                &-OrderTotals {
                    .ReactCollapse--collapse {
                        transition: height 500ms;
                    }
                    .CheckoutOrderSummary {
                        &-Text {
                            font-weight: var(--fw-regular);
                            font-size: 13px;
                        }
                        &-Price {
                            font-weight: var(--fw-medium);
                            font-size: 13px;
                        }
                        &-SummaryItem_divider {
                            border-top: 1px solid var(--color-soft-gray);
                            margin-top: 6px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            .CheckoutOrderSummary-Text {
                                font-weight: var(--fw-regular);
                                font-size: 15px;
                                line-height: 17px;
                            }
                            .CheckoutOrderSummary-Price {
                                font-weight: var(--fw-bold);
                                font-size: 15px;
                                line-height: 17px;
                            }
                        }
                        &-SummaryItem_subtotalOnly {
                            padding: 10px 0;
                            .CheckoutOrderSummary-Text {
                                font-weight: var(--fw-regular);
                                font-size: 15px;
                                line-height: 17px;
                            }
                            .CheckoutOrderSummary-Price {
                                font-weight: var(--fw-bold);
                                font-size: 15px;
                                line-height: 17px;
                            }
                        }
                    }
                    .CheckoutBillingTotal {
                        padding: 10px 0;
                        margin-bottom: 11px;
                        .CheckoutOrderSummary-Text {
                            font-weight: var(--fw-regular);
                            font-size: 15px;
                            line-height: 17px;
                        }
                        .CheckoutOrderSummary-Price {
                            font-weight: var(--fw-bold);
                            font-size: 15px;
                            line-height: 17px;
                        }
                    }
                    @include desktop {
                        display: none;
                    }
                }
                &-OrderSummaryTotalsContainer {
                    @include desktop {
                        display: none;
                    }
                    .CheckoutOrderSummary {
                        padding: 0;
                        &-Text {
                            font-weight: var(--fw-regular);
                            font-size: 13px;
                            &:empty {
                                display: none;
                            }
                        }
                        &-Price {
                            font-weight: var(--fw-medium);
                            font-size: 13px;
                            &:empty {
                                display: none;
                            }
                        }
                        &-SummaryItem,
                        &-DiscountOptionWrapper {
                            padding: 3px 0;
                            &:empty {
                                display: none;
                            }
                        }
                        &-PromoBlock {
                            margin: 10px 0 0;
                            &:empty {
                                display: none;
                            }
                        }
                        &-DiscountOptionWrapper {
                            &:empty {
                                display: none;
                            }
                        }
                    }
                }
                &-OrderSummaryTriggerContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 0;
                    @include desktop {
                        display: none;
                    }
                }
                &-OrderSummaryTrigger {
                    content: '';
                    max-width: 30px;
                    top: 47%;
                    border: solid #0a0a0a;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 4px;
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    &_dropdownToggleIcon {
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                    @include desktop {
                        display: none;
                    }
                }
            }
            @include before-desktop {
                border-top: 1px solid var(--primary-divider-color);
                background-color: #ffffff;
                position: fixed;
                padding: 1.5rem 1.5rem calc(env(safe-area-inset-bottom) + 1rem);
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 9999;
            }
            .Button {
                width: 100%;
                color: #ffffff;
                background-color: var(--selected-step-color);
                font-weight: var(--fw-bold);
                @include before-desktop {
                    opacity: 1;
                    border-radius: 7px;
                }
                @include desktop {
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
            }
        }
        }
      }
    }
  }
}

.PickUpAddress {
  .CheckoutAddressBook {
    &-Wrapper {
      padding: 30px 20px;
    }

    .Checkout {
      &-Heading {
        background: $white;
        padding: 34px 8px 34px 30px;
        top: 90px;
        width: 30%;

        &_isArabic {
          padding: 34px 30px 34px 0;
        }
      }
    }
  }

  h2 {
    @include before-desktop {
      display: none;
    }
  }

  h3 {
    background: #ffffff;
    font-size: 21px;
    margin: 0;
    padding: 30px 20px 3px;

    @include before-desktop {
      display: none;
    }
  }
  &-DeliveryMessage {
    font-weight: 600;
    width: 60vw;
    padding: 0 !important;
    margin: -45px auto 24px !important;
    font-size: 18px;
    text-align: center;
    display: block !important;
    @include desktop {
      display: none !important;
    }
  }
  &-LoadingButton {
    background-color: #a9a9a9 !important;
    border: #a9a9a9 !important;
  }
  &-Button {
    @include before-desktop {
      font-size: 14px;
    }
    @include desktop {
      height: 60px;
    }
  }
}

.CheckoutShippingStep {
  background: #ffffff;

  &-DeliveryButton {
    padding: 30px;
    background: #ffffff;
    text-align: center;

    button.primary {
      height: 50px;
      width: 250px;
      font-size: 13px;
      font-weight: var(--fw-bold);
      letter-spacing: 0;
      line-height: 18px;
      text-align: center;

      &:hover {
        border: 2px solid #000000;
      }
    }

    @include before-desktop {
      display: none;
    }
  }

  &_isArabic {
    .Field {
      &_type {
        &_toggle {
          padding-right: 20px;

          label {
            padding-right: 10px;
          }

          @include desktop {
            padding-right: 30px;
          }
        }
      }
    }
  }
}

.CheckoutAddressBook {
  margin-bottom: 0;
}
.CheckoutDeliveryOptions {
  display: none;

  .Checkout {
    &-Heading {
      display: none;
    }
  }
}
