.HeaderMenu {
    line-height: 40px;
    color: #ffffff;

    @include before-desktop {
        overflow-x: hidden;
        overflow-y: auto;
    }

    &-Button {
        display: block;
        text-transform: none;
        font-size: 10px;
        font-weight: var(--fw-medium);
        letter-spacing: -0.2px;
        line-height: 14px;
        text-align: center;
        color: var(--inactive-button-header-color);
        height: 40px;
        width: 40px;
        padding: 0;
        margin: 10px auto 0 auto;

        &::before{
            content: '';
            right: 0;
            background: url(./icons/categories-gray@2x.png) no-repeat;
            background-size: 27px;
            width: 27px;
            height: 29px;
            display: inline-block;
            font-size: 0;
            filter: invert(26%) sepia(2%) saturate(21%) hue-rotate(43deg) brightness(90%) contrast(80%);
        }

        &_isExpanded {
            color: var(--active-button-header-color);

            &::before{
                filter: invert(43%) sepia(60%) saturate(1535%) hue-rotate(335deg) brightness(107%) contrast(95%);
            }
        }
    }

    @include desktop {
        width: auto;
    }
}
