:root {
  --top-row-background: #000000;
  --top-row-fontcolor: #ffffff;
  --table-border-color: #e0e0e0;
  --unselected-color: #4a4a4a;
}

.SizeTable {
  &-Table {
    width: 100%;
    border-collapse: separate;
    border: solid 1px var(--table-border-color);
    border-bottom: 0;
  }
  &-Title {
    text-align: center;
  }

  &-TableCellTop {
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    border-right: solid 1px var(--table-border-color);
    border-bottom: solid 1px var(--table-border-color);
    background-clip: padding-box;
    @include mobile {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      width: 80px;
    }
  }
  &-TableMergeCellTop {
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    border-right: solid 1px var(--table-border-color);
    border-bottom: solid 1px var(--table-border-color);
    background-clip: padding-box;
    @include mobile {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      width: 115px;
    }
  }

  &-LongCell {
    width: 120px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    border-right: solid 1px var(--table-border-color);
    border-bottom: solid 1px var(--table-border-color);
    background-clip: padding-box;
    @include mobile {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      // width: 80px;
    }
  }

  &_isArabic {
    td:nth-child(3) {
      border-right: solid 1px var(--table-border-color);
      border-left: 0;
    }

    td:nth-child(1) {
      //   border-right: 0;
      border-left: solid 1px var(--table-border-color);
    }
  }

  td:nth-child(3) {
    // border-right: 0;
  }

  td:nth-child(1) {
    // border-left: 0;
  }

  &-TableCell {
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    border-right: solid 1px var(--table-border-color);
    border-bottom: solid 1px var(--table-border-color);
    font-weight: var(--fw-regular);
    background-clip: padding-box;
  }
  &-TableCellHeading {
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    border-right: solid 1px var(--table-border-color);
    border-bottom: solid 1px var(--table-border-color);
    font-weight: var(--fw-bold);
    background-clip: padding-box;
  }

  &-TopRow {
    font-weight: var(--fw-demi);
    background-color: var(--top-row-background);
    color: var(--top-row-fontcolor);
  }

  &-ButtonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

    @include desktop {
      margin-bottom: 3rem;
    }
  }

  &-ButtonCm,
  &-ButtonInch {
    font-weight: var(--fw-regular);
    font-size: 14px;
    letter-spacing: 2px;
    height: 4rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;

    @include desktop {
      height: 40px;
    }
  }

  &-ButtonCm {
    color: var(--unselected-color);
    border-style: none;
    font-weight: var(--fw-light);

    &_isCm {
      border: solid 1px var(--top-row-background);
      font-weight: var(--fw-bold);
      color: var(--top-row-background);
    }
  }

  &-ButtonInch {
    border: solid 1px var(--top-row-background);
    font-weight: var(--fw-bold);

    &_isCm {
      border-style: none;
      font-weight: var(--fw-light);
    }
  }

  @include mobile {
    overflow: auto;
  }
}

.ExpandableContent-Content {
  .SizeTable {
    &_isArabic {
      td:nth-child(3) {
        border-right: solid 1px var(--table-border-color);
        // border-left: 0;
      }
    }
  }
}
