.Product-LoadMore {
    text-align: center;
    margin-bottom: 6px;
    margin-top: 58px;
    .Product-Loaded-Info {
        color: #000000;
        font-family: "Avenir Next";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center;
        margin-bottom: 6px;
    }
    .Product-ProgressBar {
        margin-bottom: 34px;
        width: 220px;
        display: inline-flex;
        .Product-ProgressBar-Container {
            height: 3px;
            width: 100%;
            background-color: #D8D8D8;
            display: flex;
            align-items: center;
        }
        .Product-ProgressBar-Bar {
            width: 10px;
            height: 3px;
            background-color: #F96446;
            display: block;
        }
    }
    .LoadMore {
        .button {
            height: 50px;
            width: 300px;
            background-color: #FFFFFF;
            color: #000000;
            font-family: "Avenir Next";
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 12px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #000000;
            border-radius: 6px;
            &:disabled {
                background: #000000;
                color: #FFFFFF;
                opacity: .3;
            }
        }
    }
}