.MyAccountReturnSuccess {
    margin-bottom: 180px;

    @include desktop {
        margin-bottom: 50px;
    }

    &-Heading {
        margin: 0 auto 70px;
        max-width: 240px;

        @include desktop {
            margin: 0 0 40px;
            max-width: unset;
        }

        h3 {
            font-size: 22px;
            margin-bottom: 50px;

            @include before-desktop {
                display: none;
            }
        }

        p {
            font-weight: var(--fw-regular);
            margin-bottom: 0;
            text-align: center;

            @include desktop {
                text-align: unset;
            }

            span {
                font-weight: var(--fw-bold);
            }
        }
    }

    &-Details {
        margin-bottom: 30px;

        h3 {
            font-weight: var(--fw-medium);
            font-size: 14px;
            margin-bottom: 10px;
            text-transform: capitalize;
        }

        p {
            color: var(--color-gray);
            font-size: 12px;
            margin-bottom: 0;
            text-transform: capitalize;

            span {
                color: #000000;
                text-transform: none;
            }
        }
    }

    &-BackButton {
        border: 1px solid #000000;
        border-radius: 10px;
        font-weight: var(--fw-regular);
        font-size: 14px;
        padding: 10px 15px;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
}
