:root {
  --border-color: #d1d3d4;
  --link-color: hsl(0, 0%, 0%);
  --white-color: #ffffff;
  --black-color: #000000;
}

.InlineCustomerSupport {
  // width: 100%;
  // transform: translateX(-25px);

  @include desktop {
    display: flex;
    flex: 1;
    // width: 50%;
    // min-width: 30.556vw;
    transform: none;
    z-index: 1;
  }

  @include mobile {
    left: 20px;
    position: fixed;
    top: 14px;
    &_isArabic {
      left: unset;
      right: 20px;
    }
  }
  @include tablet {
    left: 20px;
    &_isArabic {
      left: unset;
      right: 20px;
    }
  }
  &-Overlay {
    &_isExpanded {
      &::before {
        content: "";
        position: fixed;
        width: 100vw;
        height: 100%;
        background-color: transparent;
        left: 0;
        top: 0;
        z-index: -1;
      }
    }
  }

  &-Button {
    padding-right: 31px;
    padding-left: 0;
    text-align: left;
    width: 150px;
    height: 31px;
    // display: none;
    color: #4a4a4a;
    font-family: "Avenir Next";
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 15px;

    &_isHidden {
      display: none !important;
    }

    @include mobile {
      content: "";
      background: url(../Icons/Info/icon.svg) no-repeat;
      background-size: 24px;
      width: 24px;
      height: 24px;
    }

    @include desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include tablet {
      transform: translateY(12px);
    }

    &::after {
      @include mobile {
        display: none;
      }
      display: block;
      box-sizing: border-box;
      right: 17px;
      top: 9px;
      position: absolute;
      content: "";
      background: url(../Icons/ChevronDown/icon.svg) no-repeat;
      background-size: 12px;
      width: 12px;
      height: 12px;
    }

    &_isExpanded {
      &::after {
        background: url(../Icons/ChevronUp/icon.svg) no-repeat;
        background-size: 12px;
        top: 8px;
      }
    }

    &_isArabic {
      text-align: right !important;

      &::after {
        right: 100px;
      }
    }
  }

  &-Dropdown {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 320px;
    margin-left: 80px;
    position: absolute;
    z-index: 4;
    background: var(--white-color);
    padding: 8px 20px;
    display: none;

    @include mobile {
      margin-left: 0px;
    }
    &_isExpanded {
      display: block;
    }
  }

  p {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0;

    // @include desktop {
    //   margin: unset;
    // }
  }

  a {
    // margin: 4px 0;
    display: block;
    color: var(--link-color);
    @include desktop {
      color: var(--link-color);
      margin: unset;
    }
  }
  .InlineCustomerSupport-Dropdown{
    button{
      height: auto;
      padding: 0;
      font-weight: normal;
      color: var(--link-color);
      font-size:12px;
    }
  }
  
  &-OpenHours {
    padding-bottom: 12px;
    font-size: 15px !important;
    span:nth-child(2) {
      font-weight: var(--fw-bold);
    }
  }

  &-Phone {
    font-size: 14px;

    &::before {
      position: absolute;
      content: "";
      background: url(./icons/phone.svg) no-repeat;
      background-size: 22px;
      width: 22px;
      height: 22px;
      display: inline-block;
      font-size: 0;
      transform: rotate(-10deg);
      left: 5px;
      top: -3px;
    }

    // &::after {
    //   width: 120px;
    //   position: absolute;
    //   left: 28px;
    //   content: "TAP TO WHATSAPP";
    //   font-weight: bold;
    //   font-weight: bold;
    //   font-size: 10px;
    //   color: white;
    //   letter-spacing: 0.91px;
    // }

    &_isArabic {
      &::before {
        left: unset !important;
        right: 5px;
      }
      // &::after {
      //   content: "ضغط ل WHATSAPP";
      //   left: unset!important;
      //   right: 22px
      // }
    }

    @include desktop {
      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }

    bdi {
      font-size: 13px;
      visibility: visible;
    }
  }

  &-PhoneIcon {
    background: url(../Icons/Phone/icon.svg) no-repeat;
    background-position-y: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    margin-right: 15px;

    &_isArabic {
      margin-left: 15px;
      margin-right: 0;
    }
  }

  &-AccountIcon {
    background: url(../Icons/Account/icon.svg) no-repeat;
    background-position-y: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    margin-right: 15px;

    &_isArabic {
      margin-left: 15px;
      margin-right: 0;
    }
  }

  &-DisplayEmail,
  &-DisplayPhone,
  &-DisplayFAQ,
  &-DisplayReturns,
  &-DisplayShipping,
  &-DisplayAuthentication {
    display: flex;
    padding: 8px 0;
    align-items: center;
  }

  &-Email {
    margin: 0;
    font-size: 13px;
  }

  &-EmailIcon {
    background: url(../Icons/Mail/icon.svg) no-repeat;
    background-position-y: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    margin-right: 15px;

    &_isArabic {
      margin-left: 15px;
      margin-right: 0;
    }
  }

  &-FAQsIcon {
    background: url(../Icons/Menu/icon.svg) no-repeat;
    background-position-y: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    margin-right: 15px;

    &_isArabic {
      margin-left: 15px;
      margin-right: 0;
    }
  }

  &-ReturnIcon {
    background: url(../Icons/Return/icon.svg) no-repeat;
    background-position-y: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    margin-right: 15px;

    &_isArabic {
      margin-left: 15px;
      margin-right: 0;
    }
  }

  &-ShippingIcon {
    background: url(../Icons/Shipping/icon.svg) no-repeat;
    background-position-y: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    margin-right: 15px;

    &_isArabic {
      margin-left: 15px;
      margin-right: 0;
    }
  }

  &-CheckoutCommunication {
    padding: 8px;
    border-top: 1px solid #e5e5e5;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  }

  &-DisplayQuickAccess {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    width: 100%;
    color: var(--white-color);
    text-align: center;
    padding: 0;
    border: none;
    color: #4a4a4a;
    font-family: "Avenir Next";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    &_isArabic {
      justify-content: right;
      margin-left: 5px;
    }
    @include desktop {
      color: var(--black-color);
      // margin-left: 20px;
      // padding-left: 15px;
      margin-left: 0;
      padding-left: 9px;
      // margin-top: 7px;
      // margin-bottom: 7px;
      border-left: 1px solid var(--border-color);
      // justify-content: left;
      // min-height: 25px;
    }

    p {
      // text-transform: uppercase;
      padding-right: 3px;

      font-weight: var(--fw-demi);
      color: #4a4a4a;
      font-family: "Avenir Next";
      font-size: 13px;
      letter-spacing: 0;
      line-height: 18px;

      @include tablet {
        font-weight: bold;
        color: white;
        font-size: 10px;
        letter-spacing: 0.91px;
        line-height: 36px;
        margin: 0;
      }
      @include mobile {
        font-weight: bold;
        color: white;
        font-size: 10px;
        letter-spacing: 0.91px;
        line-height: 36px;
        margin: 0;
      }

      &::first-letter {
        text-transform: uppercase;
      }

      @include desktop {
        width: auto;
        font-size: 13px;
      }
    }

    a {
      font-weight: var(--fw-demi);
      color: #4a4a4a;
      font-size: 13px;
      letter-spacing: 0;
      line-height: 18px;

      @include desktop {
        // font-size: 13px;
      }
    }

    &_isArabic {
      p {
        padding-left: 3px;
        padding-right: 0;
      }
      @include desktop {
        margin-left: 0;
        padding-right: 9px;
        padding-left: 0;
        // margin-right: 20px;
        // padding-right: 15px;
        border-right: 1px solid var(--border-color);
        border-left: none;
      }
    }
  }
}

.PageWrapper {
  &_isArabic {
    .InlineCustomerSupport {
      // transform: translateX(0);

      &-Button {
        padding-right: 0;
        text-align: right;
      }

      .CircleContainer {
        margin-right: 0px;
        margin-left: 4px;
      }
      @include mobile {
        transform: unset;
      }
    }
  }
}

@keyframes pulse {
  0% {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
  }
  25% {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

.CircleContainer {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 4px;

  &-Pulse {
    width: 10px;
    height: 10px;
    border: 5px solid #28d9aa;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #28d9aa;
    z-index: 10;
    position: absolute;
  }

  &-Dot {
    border: 10px solid #28d9aa;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 16px;
    width: 16px;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    z-index: 1;
    opacity: 0;
  }
  // @include tablet{
  //   display: none;
  // }
  // @include mobile{
  //   display: none;
  // }
}
