.PhoneCountryCodeField {
    height: 89px;
    margin-top: -16px;
    width: 105px;

    .FieldSelect {
        &-Select {
            height: 60px;
            padding-left: 40px;
            padding-right: 30px;

            @include mobile {
                font-size: 12px;
            }
        }
    }

    @include desktop() {
        height: 88px;
    }

    .CountryMiniFlag-Container {
        margin-bottom: -66px;
        margin-left: 12px;
        z-index: 1;

        @include mobile() {
            margin-bottom: -55px;
        }

        @include desktop() {
            margin-bottom: -57px;
        }
    }
    input {
        padding-left: 35px;
        padding-right: 0;
    }

    &_isArabic {
        text-align: right;
    
        .CountryMiniFlag-Container {
            margin-left: 0;
            margin-right: 8px;
        }

        input {
            padding-left: 0;
            padding-right: 35px;
        }

        .Field {
            .FieldSelect {
                &:after {
                    left: 20px;
                    right: unset;
                }

                &-Select {
                    padding-left: 30px;
                    padding-right: 40px;
                    direction: ltr;
                }
                
            }
        }
    }
}
