.MyAccountAddressPopup {
    margin-bottom: 100px;
    &-Address {
        margin: 1rem 0;
    }

    &-DeletePopup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(70, 70, 70, .8);
        z-index: 9;
    }

    &-BtnContainer {
        display: flex;
        justify-content: flex-end;
    }

    &-NoBtn {
        margin-right: 10px;
    }

    &-DeletePopupContainer {
        display: block;
        position: fixed;
        top: 250px;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        z-index: 9;
        background: $white;
        width: 80%;
        padding: 20px 20px 30px;

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .primary {
            min-width: 150px;
        }

        &_isMobile {
            padding-bottom: 5px;

            p {
                font-size: 14px;
            }

            h2 {
                margin-top: 0;
                text-transform: none;
                font-size: 18px;
                font-weight: var(--fw-demi);
            }
        }
    }

    &-CancelBtn {
        color: var(--primary-base-color);
        margin-left: 20px;
    }

    &-DeleteBtn{
        position: fixed;
        top: 5px;
        right: 14px;
        z-index: 99;
        text-transform: none;
        font-weight: var(--fw-regular);
        font-size: 13px;
        padding: 0;

        &_newForm {
            display: none;
        }

        @include desktop() {
            display: none;
        }
    }

    &-xBtn {
        position: absolute;
        top: 10px;
        right: 20px;
        padding: 0;
        height: 30px;
        font-size: 20px;
    }
    .MyAccountAddressFieldForm{
        &-Fields{
            .Field_type_select{
                .FieldSelect{
                    &-Options{
                        .FieldSelect-Option{
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
}

.PageWrapper {
    &_isArabic {
        .MyAccountAddressPopup {
            &-xBtn {
                right: auto;
                left: 20px;
            }

            &-DeleteBtn {
                right: unset;
                left: 14px;
            }
        }
    }
}
