.DynamicContentTwiceBanner {
    &-Content {
        // &_isArabic {
        //     width: auto !important;
        //     &-BannerImgRight {
        //         right: 0px !important;
        //         padding-left: 40px;
        //     }
        //     &-BannerImg {
        //         right: 30px !important;
        //         left: 0px !important;
        //         margin-left: 0px !important;
        //     }
        //     &-Figure {
        //       right: 20px;
        //     }
        //     &-FigureRight {
        //         right : 40px !important;
        //     }
        // }
        // width: auto !important;
        justify-content: center;
        background-color: white;
        text-align: center;
        margin: 0 auto !important;
        padding: 0;
        display: inline-flex;
        margin-top: 40px;
        margin-bottom: 40px;
        // @include tablet{
        //   padding-left: 30px;
        // }
        @include mobile() {
            display: block;
        }
    }
    &-Figure {
        @include desktop {
            // background:#f3f3f3;
            margin-top: 44px;
            margin-bottom: 41px;
            // left: 23px;
            right: 20px;
        }
        @include tablet {
            // background:#f3f3f3;
            margin-top: 44px;
            margin-bottom: 41px;
        }
    }
    &-BannerImg {
        @include desktop {
            // width: 50%;
            // left: 43px;
            left: 20px;
        }
        @include tablet {
            width: 50%;
            // left: 43px;
            // margin-left: 30px;
        }
        .BannerImage {
            object-fit: cover;
            @include tablet {
                min-height: 475px;
                min-width: 408.91px;
            }
            @include desktop {
                min-height: 475px;
                min-width: 520px;
            }
            @include mobile() {
                margin-bottom: 10px;
            }
        }
    }
    &-BannerImgRight {
        right: 23px;
        @include mobile() {
            right: 0;
        }
        img {
            object-fit: cover;
            @include tablet {
                min-height: 334px;
                min-width: 390px; // 408.91px;
                right: 10px;
            }
            @include desktop {
                min-height: 459px;
                min-width: 520px;
            }
        }
    }
    &-FigureRight {
        @include desktop {
            // background: #f3f3f3;
            margin-top: 44px;
            margin-bottom: 41px;
            left: 20px;
            z-index: 3;
        }
        @include tablet {
            // background: #f3f3f3;
            margin-top: 44px;
            margin-bottom: 41px;
            left: 30px;
            z-index: 3;
        }
    }
    &-FigureRight {
        display: inline-flex;
        .TwiceBanner {
            align-items: center;
            background-color: #fafafa;
            @include tablet {
                min-height: 261.07px;
                min-width: 334.99px;
            }
            @include desktop {
                min-height: 376.6px;
                min-width: 426px;
            }
        }
        .TwiceBannerBlock {
            @include desktop {
                //left: 25%;
                top: 40%;
                position: absolute;
                left:0;
                width: 100%;
                padding-left: 10%;
                padding-right: 10%;
            }
            @include tablet {
                left: 15%;
                top: 30%;
                position: absolute;
            }
        }
        .TwiceBannerBlockChild a {
            border-bottom: 1px solid;
            border-width: thin;
            // height: 22px;
            // width: 102px;
            // color: #000000;
            // font-family: "Avenir Next";
            // font-size: 16px;
            // font-weight: 500;
            // letter-spacing: 0;
            // line-height: 22px;
            // text-align: center;
        }
        .TwiceBannerBlockChild a button {
            @include tablet {
                // height: 22px;
                // width: 80px; //102px;
            }
            @include mobile() {
                height: auto;
                margin-bottom: 20px;
            }
            padding: 0px !important;
            text-transform: capitalize;
            color: #000000;
            font-family: "Avenir Next";
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
        }
        .TwiceBannerBlockChildTitle {
            text-transform: uppercase;
            color: #000000;
            font-family: "Avenir Next";
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 2px;
            line-height: 25px;
            text-align: center;
            @include desktop {
                // height: 25px; // 40px;
                // width: 426px;
            }
            @include tablet {
                // height: 31px; //40px;
                // width: 334.99px;
            }
        }
        .TwiceBannerBlockChildSub {
            height: 31px; // 22px;
            // width: 405.55px;
            color: #4a4a4a;
            font-family: "Avenir Next";
            font-size: 16px;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
        }
    }
    &-Figure {
        .TwiceBanner {
            align-items: center;
            background-color: #fafafa;
            @include tablet {
                min-height: 388px;
                min-width: 334.99px;
                right: 20px;
            }
            @include desktop {
                min-height: 388px;
                min-width: 426px;
            }
        }
        .TwiceBannerBlock {
            @include desktop {
                left: 25%;
                top: 40%;
                position: absolute;
            }
            @include tablet {
                left: 15%;
                top: 40%;
                position: absolute;
            }
        }
        .TwiceBannerBlockChild a {
            border-bottom: 1px solid;
            border-width: thin;
            // height: 22px;
            // width: 102px;
            // color: #000000;
            // font-family: "Avenir Next";
            // font-size: 16px;
            // font-weight: 500;
            // letter-spacing: 0;
            // line-height: 22px;
            // text-align: center;
        }
        .TwiceBannerBlockChild a button {
            @include tablet {
                // height: 22px;
                // width: 80px; //102px;
            }
            @include mobile() {
                height: auto;
                margin-bottom: 20px;
            }
            padding: 0px !important;
            text-transform: capitalize;
            color: #000000;
            font-family: "Avenir Next";
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
        }
        .TwiceBannerBlockChildTitle {
            text-transform: uppercase;
            color: #000000;
            font-family: "Avenir Next";
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 2px;
            line-height: 25px;
            text-align: center;
            @include desktop {
                // height: 31px; // 40px;
                // width: 426px;
            }
            @include tablet {
                // height: 31px; // 40px;
                // width: 334.99px;
            }
        }
        .TwiceBannerBlockChildSub {
            height: 31px; // 22px;
            // width: 405.55px;
            color: #4a4a4a;
            font-family: "Avenir Next";
            font-size: 16px;
            letter-spacing: 0;
            line-height: 22px;
            text-align: center;
        }
    }
}

.DynamicContentTwiceBanner-Content_isArabic {
    // width: auto !important;
    justify-content: center;
    .DynamicContentTwiceBanner-FigureRight {
        right: 40px !important;
    }
    .DynamicContentTwiceBanner-BannerImg {
        @include desktop {
            right: 40px !important;
        }
        @include tablet {
            right: 30px !important;
        }
        left: 0px !important;
        margin-left: 0px !important;
    }
    .DynamicContentTwiceBanner-BannerImgRight {
        right: 0px !important;
        padding-left: 40px;
    }
    .DynamicContentTwiceBanner-Figure {
        @include desktop {
            // right: 30px;
            right: 0px;
            margin-left: 4%;
        }
        // @include tablet {
        //   right: 20px;
        // }
    }
}